<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Storm Processing</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <!-- Optional theme -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
  <!-- APP js -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <!-- scripts -->
  <script type='text/javascript' src='static/pdfManipulationHelper.js'></script>
  <script type='text/javascript' src='static/app.js'></script>
</head>

<style>
body {
  margin: 0;
  background: #546268;
  min-width: 960px;
}

.data {
  border-radius: 25px;
  border: 2px solid #73AD21;
    padding: 20px;
    width: 200px;
    height: 150px;
}

table{
  color: white;
}

</style>

<body class="text-center">
  <h1 style="color:#55ACEE">Storm Pdf Word Count</h1>
    <div style="color:#55ACEE">
      <img src="/static/alainPicture.jpg" alt="My picture" height="60" width="60" style="border: 1px; border-radius: 30px; vertical-align:middle">
      <span><a href="https://github.com/aperkaz"> Alain Perkaz</a></span>
    </div>
  <div id="data">
  </div>
</body>
</html>
