<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Storm Processing</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <!-- Optional theme -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
  <!-- APP js -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <!-- scripts -->
  <script type='text/javascript' src='static/app.js'></script>
</head>

<style>
body {
  margin: 0;
  background: #546268;
  min-width: 960px;
}

.data {
  border-radius: 25px;
  border: 2px solid #73AD21;
    padding: 20px;
    width: 200px;
    height: 150px;
}

table{
  color: white;
}

</style>

<body class="text-center">
  <h1 style="color:#55ACEE">Storm Pdf Word Count</h1>
    <div style="color:#55ACEE">
      <img src="/static/alainPicture.jpg" alt="My picture" height="60" width="60" style="border: 1px; border-radius: 30px; vertical-align:middle">
      <span><a href="https://github.com/aperkaz"> Alain Perkaz</a></span>
    </div>
  <div id="data" style="margin: 50px 150px; border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 20px;">
    <table class="table" style="text-align: center;">
      <thead>
        <tr>
          <th class="text-center">Book Name </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Word 1</td>
          <td>15</td>
        </tr>
        <tr>
          <td>Word 2</td>
          <td>10</td>
        </tr>
        <tr>
          <td>Word 3</td>
          <td>15</td>
        </tr>
        <tr>
          <td>Word 4</td>
          <td>10</td>
        </tr>
        <tr>
          <td>Word 5</td>
          <td>15</td>
        </tr>
        <tr>
          <td>Word 6</td>
          <td>10</td>
        </tr>
        <tr>
          <td>Word 7</td>
          <td>10</td>
        </tr>
        <tr>
          <td>Word 8</td>
          <td>10</td>
        </tr>
        <tr>
          <td>Word 9</td>
          <td>10</td>
        </tr>
        <tr>
          <td>Word 10</td>
          <td>10</td>
        </tr>
      </tbody>
    </table>
  </div>
</body>
</html>
